{#
/**
 * @file
 *
 * CPE Event product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_attributes: The product entity title attributes.
 *
 * VSCPA Bootstrap variables (extra):
 * - view_mode: The product view mode.
 * - page: TRUE if this is the 'full' view mode.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  product_entity.bundle|clean_class,
  not product_entity.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
]
%}

{# Get value from field field_cover_image_overlay for theming #}
{% set overlay = product.field_overlay['#items'].getString() %}

<article id="page-hero" {{ attributes.addClass(classes) }} data-steve="foo">

  {{ product.field_cover_video }}

  <div class="overlay {{ overlay|striptags }}"></div>
  <div class="wrapper">
    {{ product|without('field_cover_video', 'field_overlay', 'field_bundle_items', 'field_search_index_is_bundle') }}
    {{ discount_off_label }}
  </div>
</article>
