{#
/**
 * @file
 *
 * CPE Self-study product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_attributes: The product entity title attributes.
 *
 * VSCPA Bootstrap variables (extra):
 * - view_mode: The product view mode.
 * - page: TRUE if this is the 'full' view mode.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'item',
    product_entity.bundle|clean_class,
    not product_entity.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

{{ attach_library('vscpa_bootstrap/succinct') }}

<article{{ attributes.addClass(classes) }}>
    <div class="event-image">
        {{ product.field_cover_image }}
    </div>
    <div class="overlay">
        <div class="field--name-field-cpe-type type"><span class="icon on-demand">&nbsp;</span>On-Demand</div>
        <h4 class="title">
            <a href="{{ product_url }}" class="view-title" rel="bookmark">{{ product.title.0 }}</a>
        </h4>
    </div>
    <div class="event-details">
    {{ dates }}
    {{ product.field_credits }}
    {{ product_prices }}
    {{ product.body }}
    </div>
    <div class="register-now"><a class="btn btn-gold" href="{{ product_url }}">Register Now</a></div>
</article>
