{#
/**
 * @file
 * Default theme implementation for the Modal Dues Payment Plan form element.
 *
 * Available variables:
 * - plan_start_date: The Plan Start Date.
 * - plan_end_date: The Plan End Date.
 * - balance: The table with the balance details.
 */
#}
<section class="modal-dues-plan-section" id="modal-dues-plan-container">
    <div class="registration-info hide" data-selected-employees=""
         data-selected-variation-id="{{ selected_variation_id }}"
         data-show-variation-selector="{{ show_variation_selector }}">
    </div>
    <!-- Select Employee Modal -->
    <div class="modal fade" id="modal-enroll-dues-plan" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="modalLabel">Would you like to participate in VSCPA <strong
                                class="bold-red">Flexible Payments</strong>?</h5>
                </div>
                <div class="modal-body">
                    <div class="portlet-body">
                        <div class="messages-area hide">
                        </div>
                        <div class="description">
                            <p>If you participate in VSCPA Flexible Payments your
                                membership payment will be divided into <strong>{{ plan_months }}</strong> months as
                                follows:</p>
                            <div class="row">
                                <div class="col-md-5">
                                    <ul class="dues-payment-plan-summary" data-drupal-selector="edit-summary">
                                        <li><strong>Initial Payment:</strong> {{ plan_start_date }}</li>
                                        <li><strong>Final Payment:</strong> {{ plan_end_date }}</li>
                                        <li><strong>Annual Membership dues</strong> {{ annual_membership_dues }}</li>
                                    </ul>
                                </div>
                                <div class="col-md-7">
                                    <ul class="dues-payment-plan-summary" data-drupal-selector="edit-summary">
                                        {% if pac_donation %}
                                            <li><strong>VSCPA PAC donation</strong> {{ pac_donation }}</li>
                                        {% endif %}
                                        {% if ef_donation %}
                                            <li><strong>VSCPA Educational Foundation donation</strong> {{ ef_donation }}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="payment-plan-actions">
                            <div class="form-item js-form-item form-type-radio js-form-type-radio form-item-field-payment_plan_cta_action form-item-field-payment_plan_cta_action radio">
                                <label for="payment-plan-action-go" class="control-label option">
                                    <input class="form-radio payment-plan-action" id="payment-plan-action-go"
                                           type="radio"
                                           name="payment_plan_cta_action" value="payment-plan-action-go"><span
                                            class="style">&nbsp;</span>
                                    YES! I'm interested in enrolling in VSCPA Flexible Payments - <i><small>Show me my payment schedule</small></i>.</label>
                            </div>
                            <div class="form-item js-form-item form-type-radio js-form-type-radio form-item-field-payment_plan_cta_action form-item-field-payment_plan_cta_action radio">
                                <label for="payment-plan-action-pay-in-full" class="control-label option">
                                    <input class="form-radio payment-plan-action" id="payment-plan-action-pay-in-full"
                                           type="radio"
                                           name="payment_plan_cta_action" value="payment-plan-action-pay-in-full"><span
                                            class="style">&nbsp;</span>No thanks, I prefer to pay in full today.</label>
                            </div>
                        </div>
                        <div class="payment-plan-details hide">
                            <div class="additional-info">
                                <ul class="dues-payment-plan-additional-info">
                                    <li>Participation in <strong><i>VSCPA Flexible Payments</i></strong> will divide
                                        your dues and voluntary contribution(s) across
                                        <strong>{{ plan_months }}</strong> months.
                                    </li>
                                    <li>Remaining monthly payments will be processed on the same date as that of the
                                        initial payment and will use the same payment method chosen for the initial
                                        payment.
                                    </li>
                                    <li>To change payment information, call VSCPA at (800) 733-8272.</li>
                                    <li>You will receive a confirmation email after each payment is processed.</li>
                                </ul>
                            </div>
                            <div class="balance-table">
                                {{ balance }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="actions-buttons">
                        <a type="button" class="btn btn-primary cta-dues-plan-pay-in-full hide">Pay in Full <span
                                    class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        <a type="button" class="btn btn-white cta-dues-plan-no-enroll show-plan-balance hide">Pay in
                            Full <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        <a type="button" class="btn btn-primary cta-dues-plan-enroll show-plan-balance hide">Pay in
                            Installments <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
