<div class="clearfix wrapper">
    <h2 class="accent-center block-title purple">{{ 'My VSCPA'|t }}</h2>
    <div class="profile-body">
        <article typeof="schema:Person" about="/user/{{ uid }}">
            <div class="col-xs-12 col-md-2 user-image">
                {% if user_picture %}
                    <figure class="profile-user-avatar thumb-md">
                        <img src="{{ file_url(user_picture) }}" class="img-circle img-responsive"/>
                    </figure>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-10">
                <h6 class="h3 profile-user-name field--name-field-givenname"> {{ user_full_name }} </h6>
                <p class="member-since"><b>{{ 'Member Since: '|t }}</b> {{ member_since }}</p>
                <p class="expiration-date">{{ member_status }}</p>
            </div>
        </article>
        <div class="col-xs-12 user-links">
            <a href="{{ account_dashboard_url }}">{{ 'Account Dashboard'|t }} <span class="glyphicon glyphicon-menu-right" aria-hidden="true">&nbsp;</span></a>
            <a href="{{ edit_account_url }}">{{ 'Edit Account Details'|t }} <span class="glyphicon glyphicon-menu-right" aria-hidden="true">&nbsp;</span></a>
            <a href="{{ my_cpe_url }}">{{ 'My CPE'|t }} <span class="glyphicon glyphicon-menu-right" aria-hidden="true">&nbsp;</span></a>
        </div>
    </div>
</div>