{#
/**
 * @file announcement.html.twig
 * Default theme implementation to present Announcement data.
 *
 * This template is used when viewing Announcement pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_announcement()
 *
 * @ingroup themeable
 */
#}

{% set announcement = content.field_start_date.0['#text'] %}
{% set delay = content.field_delay.0['#markup'] %}
{% set id = content.name.0['#context'].value %}

{#{% if "now"|date('Y-m-d H:i') > content.field_start_date.0['#text'] and "now"|date('Y-m-d H:i') < content.field_end_date.0['#text'] %}#}
  <div class="announcement-overlay" id="AACC-announcement-{{ announcement|clean_id }}" data-delay="{{ delay }}" style="display:none;">
      {% if content %}
      <div class="announcement">
        <div class="close">
            {{ id }}
            <div>&nbsp;</div>
        </div>
          {{ content.field_body }}
        {% if content.field_link.0['#title'] is defined %}
        <div class="links">
          <a href="{{ content.field_link.0['#url']|render }}" class="btn btn-red">{{ content.field_link.0['#title'] }}</a>
          <a href="#" class="btn btn-white dismiss">
            {% if content.field_opt_out_text.0['#context'].value is defined %}
              {{ content.field_opt_out_text.0['#context'].value }}
            {% else %}
              {{ 'No Thanks'|t }}
            {% endif %}
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
  </div>
{#{% else %}#}

  {# Return Nothing #}

{#{% endif %}#}