{#
/**
 * @file
 *
 * Default theme implementation to present RSS Page data.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - rss: The rendered rss fields.
 *   Use 'rss' to print them all, or print a subset such as
 *   'rss.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ rss|without('title') }}
 *   @endcode
 * - rss_entity: The rss entity.
 * - rss_url: The rss URL.
 *
 * @ingroup themeable
 */
#}
<div class="page-header page-header-manage-my-firm"><h3>{{ title }}</h3></div>
<div{{ attributes }}>
  {% if rss_feed_url %}
    <p id="ctl00_PanelContent_oControl_56719_56719_0_ctl00_com0_pTopLinkRss"><a target="_blank" href="{{ rss_feed_url }}"><img src="/{{ base_path }}{{ active_theme_path() }}/images/rss.gif" alt="RSS Feed"></a></p>
  {% endif %}
  <div class="view-vscpa">
    {% for article in articles %}
      <article role="article" class="publication listing clearfix">
        {% if article.image_url %}
          <div class="image">
            <div class="field field--name-field-cover-image field--type-entity-reference field--label-hidden field--item">
              <div class="contextual-region">
                <div class="field field--name-field-cover-image field--type-image field--label-hidden field--item">
                  <img src="{{ article.image_url }}" alt="{{ article.title }}" typeof="foaf:Image" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <h4><a class="title" href="{{ article.url }}" rel="bookmark">{{ article.title }}</a></h4>
        <div class="content">
          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
            {{ article.excerpt }}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
