{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}

<div class="checkout-complete">
    <h2 class="store-information">Order completed!</h2>
    <p>{{ 'Thank you! Your confirmation number is <strong>#@number</strong>.'|t({'@number': paypal_remote_id}) }} Purchase confirmation email(s) have been sent to the email address on file. Questions? Call <a href="tel:8007338272">(800) 733-8272</a>.</p>
    <div class="order-information">
        <div class="order-items">
            <table class="order-items-listing table">
                <tbody>
                    {% for order_item in order_entity.getItems %}
                    <tr>
                        <td class="order-item-quantity">
                            {{ order_item.getQuantity|number_format }} x
                        </td>
                        <td class="order-item-label">
                            {% if order_item.bundle() == 'peer_review_administrative_fee' %}
                                <div><strong>{{ order_item.getPurchasedEntity|commerce_entity_render() }}</strong></div>
                            {% else %}
                                <div><strong>{{ order_item.getPurchasedEntity|commerce_entity_render() }}</strong>{{ order_item.label }}</div>
                            {% endif %}
                        </td>
                        <td class="order-item-price">
                            <span>{{ order_item.getTotalPrice|commerce_price_format }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="order-total-price">
            {{ 'Order Total: @total'|t({'@total': order_entity.getTotalPrice|commerce_price_format}) }}
        </div>
        <div class="customer-information">
            {{ order.mail }}
            {% if order.shipping_information %}
                <div class="customer-information__shipping">
                    <div class="field__label">{{ 'Shipping information'|t }}</div>
                    {{ order.shipping_information }}
                </div>
            {% endif %}
            {% if order.billing_information %}
                <div class="customer-billing">
                    <div class="field__label">{{ 'Billing information'|t }}</div>
                    {{ order.billing_information }}
                </div>
            {% endif %}
        </div>
    </div>
    {% if payment_instructions %}
        <div class="checkout-complete__payment-instructions">
            <h2>{{ 'Payment instructions'|t }}</h2>
            {{ payment_instructions }}
        </div>
    {% endif %}
    <br/><br/>
</div>

{% if show_chapter_alert and chapter_info %}
  <div class="chapter-info card my-account-menu-sidebar">
    <div class="card-body padding-10">
      <h3 class="store-information"> Join The {{ chapter_info.name }} Chapter!</h3>
      <p>Stay connected in your local community by joining the <strong>{{ chapter_info.name }} Chapter</strong>!</p>
      <a class="btn btn-purple" target="_blank" href="{{ chapter_info.link }}">Click here to learn more and join
        today!</a>
    </div>
  </div>
{% endif %}
