<h2 class="block-title">Registrations for {{ full_name }}</h2>

<div class="views-element-container form-group">
    <div class="view view-my-events view-id-my_events">
        <div class="group group-in_person">
            <h3 class="accent-left group-title">In-Person</h3>
            {% if in_person is not empty %}
                {% for event in in_person %}
                    <div class="views-row" data-begin-date="{{ event.event_begin_date }}" data-end-date="{{ event.event_end_date }}" data-expiry-date="{{ event.expiry_date }}" data-product-id="{{ event.product_id }}" data-event-code="{{ event.event_code }}" data-event-year="{{ event.event_year }}" data-uid="{{ uid }}" data-name-id="{{ am_net_name_id }}" data-registration-date="{{ event.registration_date }}" data-registration-status-code="{{ event.registration_status_code }}" data-division="{{ event.division }}">
                        <div class="views-field views-field-field-dates-times">
                            <div class="field-content">
                                {{ event.expiry_month }}<br>{{ event.expiry_day }}
                            </div>
                        </div>
                        <div class="views-field views-field-title">
                            <span class="field-content">
                              {% if event.url %}
                                <a href="{{ event.url }}" hreflang="en">{{ event.title }}</a>
                              {% else %}
                                <p>{{ event.title }}</p>
                              {% endif %}
                             </span>
                        </div>
                        <div class="views-field views-field-body">
                            <div class="field-content">
                                {{ event.summary|raw }}
                            </div>
                        </div>
                        <div class="views-field views-field-field-event-link views-field-field-electronic-material">
                            <div class="field-content">
                                {% if event.electronic_materials %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="header-in-person">
                                            <span class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ event['product_id'] }}" aria-expanded="false" aria-controls="collapse-{{ event['product_id'] }}">
                                                    Electronic Materials
                                                </a>
                                            </span>
                                        </div>
                                        <div id="collapse-{{ event['product_id'] }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="header-{{ event['product_id'] }}">
                                            <div class="panel-body">
                                                {% for electronic_material in event.electronic_materials %}
                                                  {{ electronic_material }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <span class="field-content"><a class="btn" href="{{ event.url }}" hreflang="en">Event Details</a></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p><strong>You are currently not registered for any In-Person Events.</strong></p>
                <p><a href="/continuing-professional-education/cpe-event-search">Click Here to View our Full Event Catalog</a></p>
            {% endif %}
        </div>
        <div class="group group-online">
            <h3 class="accent-left group-title">Online</h3>
            {% if online is not empty %}
                {% for event in online %}
                    <div class="views-row" data-begin-date="{{ event.event_begin_date }}" data-end-date="{{ event.event_end_date }}" data-expiry-date="{{ event.expiry_date }}" data-product-id="{{ event.product_id }}"  data-event-code="{{ event.event_code }}" data-event-year="{{ event.event_year }}" data-uid="{{ uid }}" data-name-id="{{ am_net_name_id }}" data-registration-date="{{ event.registration_date }}" data-registration-status-code="{{ event.registration_status_code }}" data-division="{{ event.division }}">
                        <div class="views-field views-field-field-dates-times">
                            <div class="field-content">
                                {{ event.expiry_month }}<br>{{ event.expiry_day }}
                            </div>
                        </div>
                        <div class="views-field views-field-title">
                            <span class="field-content">
                              {% if event.url %}
                                  <a href="{{ event.url }}" hreflang="en">{{ event.title }}</a>
                              {% else %}
                                <p>{{ event.title }}</p>
                              {% endif %}
                             </span>
                        </div>
                        <div class="views-field views-field-body">
                            <div class="field-content">
                                {{ event.summary|raw }}
                            </div>
                        </div>
                        <div class="views-field views-field-field-event-link views-field-field-electronic-material">
                            <div class="field-content">
                                {% if event.electronic_materials %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="header-online">
                                            <span class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ event['product_id'] }}" aria-expanded="false" aria-controls="collapse-{{ event['product_id'] }}">
                                                    Electronic Materials
                                                </a>
                                            </span>
                                        </div>
                                        <div id="collapse-{{ event['product_id'] }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="header-{{ event['product_id'] }}">
                                            <div class="panel-body">
                                              {% for electronic_material in event.electronic_materials %}
                                                {{ electronic_material }}
                                              {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if not event.is_digital_rewind %}
                                    {% if event.is_well_known_vendor %}
                                        {% if event.show_launch_buttons %}
                                            <span class="field-content"><a class="btn" href="{{ event.launch }}" hreflang="en" target="_blank">Launch <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a></span>
                                        {% else %}
                                            {% if event.is_vc %}
                                              <span class="field-content"><span class="glyphicon glyphicon-play-circle"></span> <u>Access to this course will be available 5 days before it begins.</u></span>
                                            {% else %}
                                              <span class="field-content"><span class="glyphicon glyphicon-play-circle"></span> <u>Access to this course will be available 1 hour before it begins.</u></span>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <span class="field-content"><i><strong><span class="glyphicon glyphicon-envelope"></span> Please consult your email for instructions how to access this course by {{ event.vendor_name }}.</strong></i></span>
                                    {% endif %}
                                {% else %}
                                    <div class="field-content"><a class="btn" href="/digital-rewind" hreflang="en">Access Your Sessions</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p><strong>You are currently not registered for any Webcasts or Webinars Events.</strong></p>
                <p><a href="/continuing-professional-education/cpe-event-search">Click Here to View our Full Event Catalog</a></p>
            {% endif %}
        </div>
        <div class="group group-on_demand">
            <h3 class="accent-left group-title">On-Demand</h3>
            {% if on_demand is not empty %}
                {% for course in on_demand %}
                    {% if course.available %}
                        <div class="views-row" data-product-id="{{ course.product_id }}"  data-product-code="{{ course.product_code }}" data-uid="{{ uid }}" data-name-id="{{ am_net_name_id }}" data-order-date="{{ course.order_date }}" data-division="{{ course.division }}">
                            <div class="views-field views-field-field-dates-times">
                                <span class="label">EXPIRES ON</span>
                                <div class="field-content">
                                    {{ course.expiration_date_month }}&nbsp;{{ course.expiration_date_day }}<br>{{ course.expiration_date_year }}
                                </div>
                            </div>
                            <div class="views-field views-field-title">
                                <span class="field-content"><a href="{{ course.url }}" hreflang="en">{{ course.title }}</a></span>
                            </div>
                            <div class="views-field views-field-body">
                                <div class="field-content">
                                    {{ course.summary|raw }}
                                </div>
                            </div>
                            <div class="views-field views-field-field-course-link views-field-field-electronic-material">
                                <div class="field-content">
                                    {% if course.electronic_materials %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="header-on-demand">
                                            <span class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ course['product_id'] }}" aria-expanded="false" aria-controls="collapse-{{ course['product_id'] }}">
                                                    Electronic Materials
                                                </a>
                                            </span>
                                        </div>
                                        <div id="collapse-{{ course['product_id'] }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="header-{{ course['product_id'] }}">
                                            <div class="panel-body">
                                              {% for electronic_material in course.electronic_materials %}
                                                {{ electronic_material }}
                                              {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if course.is_well_known_vendor %}
                                        {% if course.launch is not empty %}
                                            <span class="field-content"><a class="btn" href="{{ course.launch }}" hreflang="en">Launch <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a></span>
                                        {% endif %}
                                    {% else %}
                                        <span class="field-content"><i><strong><span class="glyphicon glyphicon-envelope"></span> Please consult your email for instructions how to access this course by {{ course.vendor_name }}.</strong></i></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="view-empty">
                    <p><strong>You are currently not registered for any On-Demand Events.</strong></p>
                    <p><a href="/continuing-professional-education/cpe-event-search">Click Here to View our Full Event Catalog</a></p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
